[alias]
        amend = commit --amend
        cp = cherry-pick
        co = checkout
        st = status
        br = branch
        lg = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[user]
        email = edacih@gmail.com
        name = Cade Daniel
[color]
        ui = true
[push]
        default = simple
[core]
        excludesfile = ~/.gitignore_global
        editor = vim
[commit]
        template = ~/.git_commit_message_template
